In [68]:
# to import pandas library 
import pandas as pd
#to implement DecisionTree algorithm 
from sklearn.tree import DecisionTreeClassifier
#split our data set into two data set
from sklearn.model_selection import train_test_split
#so you can use this function to calculate how accurate your model's predictions are by comparing them to the actual values.
from sklearn.metrics import accuracy_score
#to store our model - import joblib directly instead of from sklearn.externals
import joblib  # This is the corrected import statement
#to read the csv file , music_data= to name our data frame music_data
music_data=pd.read_csv('music.csv')
#to call our data frame
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [69]:
#remove genre to set it as output and use X as input
X=music_data.drop(columns=['genre'])
#check if everything run as it should be
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [70]:
#use Y to set it as output
Y=music_data['genre']
Y
#we only have the output here ( answer )

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [71]:
#X_train , X_test input set for traingin and test Y_train , Y_test out put set for training and test
X_train , X_test ,Y_train , Y_test= train_test_split(X, Y, test_size=0.2)

In [83]:
#model to train it 
model = DecisionTreeClassifier()
#takes the input set X and the output set Y
model.fit(X_train ,Y_train)
predictions=model.predict(X_test)
# This code calculates the accuracy of your machine learning model's predictions and then displays the result.
score = accuracy_score(Y_test, predictions)
score

0.5

In [84]:
# to save your trained model to a file.
joblib.dump(model,'music-recommender.joblib')

['music-recommender.joblib']

In [89]:
# Load the model
modelTest = joblib.load('music-recommender.joblib')

# And provide the input data in the correct format
predictions = modelTest.predict([[21, 1]])

# predictions = modelTest.predict(input_data)

print(predictions)  # Display the predictions

['HipHop']

C:\Users\pieuk\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(